<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmds.web.mymapper.LevelMapper">

    <select id="selectLevel" resultType="com.cmds.web.model.CmdsLevel">
        SELECT
          levelID AS levelID
        FROM
          level
    </select>
    
</mapper>